
  body{
    background: url('../intro-section-with-dropdown-navigation-main/images/image-hero-desktop.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: 85% -30%;
    background-color: white;
  }
  
  .navbar{
    background-color: white;
  }
  .nav-link{
    color: rgb(132, 130, 130);
    font-size: 15px;
    font-weight: bold;
  }
  
  .nav-link:hover{
    color: rgb(0, 0, 0);
  }
  
  .navbar-brand{
    color: black;
  }
  
  #navbarDarkDropdownMenuLink{
    display: inline-block;
    margin-left: 15px;
  }
  
  .navbar-brand{
    list-style: none;
    margin-left: 50px;
    font-weight: bold;
    font-size: 40px;
    margin-top: 5px;
  }
  .drop{
    margin-left: 80px;
    margin-top: 15px;
    color: rgb(132, 130, 130);
    font-size: 15px;
    font-weight: bold;
  }
  
  #about{
    padding: 5px;
  }
  
  #end2{
    position: absolute;
    right: 50px;
    margin-top: 10px;
  }
  
  #end1{
    position: absolute;
    right: 200px;
    margin-top: 10px;
  }
  
  .text{
    position: absolute;
    left: 250px;
    top: 25%;
  }
  
  .heading{
    font-size: 75px;
    font-weight: bolder;
  }
  
  .para{
    margin-top: 30px;
    font-size: 20px;
    color: rgb(110, 107, 107);
  }
  
  #button{
    background-color: black;
    color: white;
    font-size: 30px;
    border-radius: 15px;
    margin-top: 25px;
    height: 70px;
    width: 266px;
  }
  
  #button:hover{
    background-color: white;
    color: black;
  }
  
  #btn{
    background-color: white;
    border-color: rgb(155, 153, 153);
    border-radius: 15px;
    margin-top: 0px;
    color: rgb(132, 130, 130);
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    width: 100px;
  }
  
  #btn:hover{
    border-color: black;
  }
  
  .division{
    display: flex;
    margin-left: -40px;
  }
  
  .overall{
    display: flex;
  }
  
  #dropdown-basic1,
  #dropdown-basic2{
    background-color: white;
    color: rgb(132, 130, 130);
    border: none;
  }
  
  #dropdown-basic1:hover,
  #dropdown-basic2:hover{
    color: black;
  }
  
  .icons{
    display: flex;
    list-style: none;
    margin-left: -54px;
    margin-top: 50px;
  }
  
  .icons-images{
    padding: 20px;
    margin-bottom: 10px;
  }
  

