/* body{
  background: url('../intro-section-with-dropdown-navigation-main/images/image-hero-desktop.png');
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: 85% -30%;
}

.collapse{
  color: aquamarine;
} */
